
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~rc-slider/assets/index.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.location-map .location-background {
  fill: url(#background);
}

.location-map .location-entrance-home {
  fill: url(#le-home);
}

.location-map .location-entrance-home:hover {
  fill: url(#le-home-highlight);
}

.location-map .location-entrance-fair {
  fill: url(#le-fair);
}

.location-map .location-entrance-fair:hover {
  fill: url(#le-fair-highlight);
}

.location-map .location-entrance-fair-locked {
  fill: url(#le-fair-locked);
}

.location-home .location-background {
  fill: url(#background);
}

.location-home .location-entrance-map {
  fill: url(#door);
}

.location-home .location-entrance-map:hover {
  fill: url(#door-highlight);
}

.location-home .activity-lesson-one-instructions {
  fill: url(#teacher);
}

.location-home .activity-lesson-one-instructions:hover {
  fill: url(#teacher-highlight);
  width: 434px;
  height: 806px;
  transform: translate(0, -12px);
}

.location-fair .location-background {
  fill: url(#background);
}

.location-fair .location-entrance-map {
  fill: url(#exit);
}

.location-fair .location-entrance-map:hover {
  fill: url(#exit-highlight);
}

.location-fair .location-entrance-ferris-wheel {
  fill: url(#wheel);
}

.location-fair .location-entrance-ferris-wheel:hover {
  fill: url(#wheel-highlight);
}

.location-ferris-wheel .location-background {
  fill: url(#background);
}

.vera {
  fill: url(#vera);
}

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

.wc-background {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('/raw/img/bg.jpg');
  background-size: cover;
  background-position: center center;
}

.full-height {
  height: 100vh;
}

.btn-play {
  background-image: url('/raw/img/ui/play_button_01.png');
  width: 330px;
  height: 97px;
}

.btn-play:hover {
  background-image: url('/raw/img/ui/play_button_02.png');
  width: 330px;
  height: 97px;
}
