
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.modal-static .modal {
  display: block;
}

.location-map .location-background {
  fill: url(#background);
}

.location-map .location-entrance-home {
  fill: url(#le-home);
}

.location-map .location-entrance-home:hover {
  fill: url(#le-home-highlight);
}

.location-map .location-entrance-fair {
  fill: url(#le-fair);
}

.location-map .location-entrance-fair:hover {
  fill: url(#le-fair-highlight);
}

.location-map .location-entrance-fair-locked {
  fill: url(#le-fair-locked);
}

.location-home .location-background {
  fill: url(#background);
}

.location-home .location-entrance-map {
  fill: url(#door);
}

.location-home .location-entrance-map:hover {
  fill: url(#door-highlight);
}

.location-home .activity-lesson-one-instructions {
  fill: url(#teacher);
}

.location-home .activity-lesson-one-instructions:hover {
  fill: url(#teacher-highlight);
}

.location-home .vera {
  fill: url(#vera);
}
